*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
.container {
    color: black;
}

:root{
    --bg-color: #5b1212;
    --tex-color: #fff;
    --main-color: #d23030;
    --other-color: #fff;
    --h1-font: 4rem;
    --p-font:1rem;

}

body{
        background-color: #5b1212;
        color: var(--tex-color);
}

header{
    position: fixed;
    width:100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    background-color: var(--bg-color);
}

.logo{
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 28px;
    font-weight: bold;

}

.logo i{
    margin-right: 5px;
}

.navegação{
    display: flex;
}

.navegação a{
    display: flex;
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .555 ease;
}

.navegação a:hover{
    color: var(--main-color);
}

.header-icons{
    display: flex;
    align-items: center;
}

#menu{
    font-size: 35px;
    color: var(--tex-color);
    z-index: 10001;
    cursor: pointer;
}

.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5 ease;

}

.header-icons i:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

}

.home-text{
    margin-left:100px;
}

.home-text h1{
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 2px;
}

.home-text h5{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;

}

.home-text h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;

}


.home-imagem{
    max-width: 100%;
    width: 28rem;
    height: auto;
    margin-left: 30%;
    

}

.btn{
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: solid 2px var(--tex-color);
    transition: all.55 ease;
    color: #fff;
    cursor: pointer;
}



.main{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main li img{
    width: 80px;
    height: auto;
    max-width: 100%;
}
.row2 li img{
    width: 80px;
    height: auto;
    max-width: 100%;}

.row3 li img{
   
        width: 80px;
        height: auto;
        max-width: 100%;
    }
        .row{
    background: var(--main-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
    display: inline-flex;
}

.row:hover {
    transform: translateY(-8px);

}

.row2{
    background: var(--main-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
}

.row2:hover{
    transform: translateY(-8px);
}

.row3{
    background:var(--main-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;

}

.row3:hover{
    transform: translateY(-8px);
}

.instagram li img{
    width: 40px;
    float: right;

    
}

.contato-info{ 
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}

.contato-info .left-side{
    width: 50%;
    padding: 30px;
    background-color: #d23030;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}

.contato-info .left-side div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.contato-info .left-side div i{
    font-size: 24px;
    margin-right: 20px;
    color: #fff;
}

.contato-info .left-side p{
    font-size: 17px;
    color: #fff;
}

.contato-info .right-side{
    width: 50%;
}

.contato-info .right-side input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid white;
    color: black;
    font-weight: lighter;
}

.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus{
   border-color: black;
}

.contato-info .right-side textarea{
    border: 1px solid white;
    color: black;
    border: radius 9px; 
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}

.textocon{
    text-align: center;
    color: #fff;
}